@import "utilities.css";

:root {
  --primary: #3dcfd3;
  --dark: #161616;
  --pure: #ffffff;
  --ternary: #898989;
  --light: #f2f2f2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  background-color: var(--dark);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
  height: 700px;
}

header .container nav a {
  color: var(--pure);
  text-decoration: none;
}

header nav {
  padding: 1rem 0;
}
header nav .left .logo {
  margin-right: 2rem;
}
header nav .left a {
  margin-right: 1rem;
  text-transform: uppercase;
}
header nav .left a:hover {
  color: var(--primary);
  transition: all 0.3s ease;
}
.container {
  max-width: 1132px;
  padding: 0 15px;
  margin: 0 auto;
  /* margin-bottom: 100px; */
  /* border: 1px solid var(--pure); */
}
.right button {
  background-color: var(--pure);
}
.hero {
  padding: 2rem 0;
}

.hero .left img {
  width: 375px;
  border: 1px solid #4b00ff;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
    border-color 0.5s ease-in-out;
  border-radius: 50%;
}
.hero .left img:hover {
  background-color: blue;
  color: #fff;
  box-shadow: 0 0 5px #4b00ff, 0 0 20px rgb(75 0 255 / 0.8),
    0 0 35px rgb(75 0 255 / 0.7), 0 0 50px rgb(75 0 255 / 0.6);
  border-color: #fff;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
.hero .right {
  color: var(--pure);
}

.hero .right h6 {
  font-size: 1.6rem;
  color: var(--primary);
  margin-bottom: 0.5rem;
}
.hero .right h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  font-weight: 100;
}
.hero .right h1 span {
  color: var(--primary);
}
.hero .right p {
  line-height: 1.9;
  margin-bottom: 2rem;
}
section {
  padding: 3rem 0;
}
section.about .about-me-img {
  height: 450px;
}
section.about h1 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
}
section.about h1 span {
  color: var(--primary);
}
section.about h3 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
}
section.about p {
  font-family: "Lato", sans-serif;
  color: var(--ternary);
  line-height: 1.9;
  margin-bottom: 2rem;
}
section.about .social {
  display: flex;
}
section.about .social a {
  background: whitesmoke;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.6rem;
  border-radius: 50%;
  transition: all 0.3s ease;
}
section.about .social a:hover {
  background: var(--primary);
}
section.about .social a img {
  width: 100%;
  height: 100%;
}
